<html>
<head>

</head>
<body>
    <div class="container" id="content">
        <div class="blank"></div>
        <div class="row">
            <div id="react-app" class="col-sm-4"></div>
            <div id="rss-feeds" class="col-sm-4"></div>
            <div class="col-sm-4">
           
                <div id="mainContainer">
               
                        <!-- (feeds are loaded here) [start] -->
                        <ul id="amjr">
                            <li>Loading...</li>
                        </ul>
                        <!--(feeds are loaded here) [end] -->
                    </div>
                          
                    
                 </div>
                </div>
                </div>
                <!--This tag must be kept at the very bottom of the BODY-->
                @Scripts.Render("~/bundles/jquery")
                <script src="~/bundle.js"> </script>
             
</body>
</html>
