<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <div className="container" id="content"/>
          
                <!--This tag must be kept at the very bottom of the BODY-->
                @*@Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/css")*@
                <script src="~/bundle.js"> </script>
             
</body>
</html>
