<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div className="container" id="content">
        <div className="blank"></div>
        <div className="row">
            <div id="react-app" class="col-sm-4"></div>
            <div id="rss-feeds" class="col-sm-4"></div>
            <div class="col-sm-4">
             </div>
                </div>
                </div>
                <!--This tag must be kept at the very bottom of the BODY-->
                @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/css")*@
                <script src="~/bundle.js"> </script>
             
</body>
</html>
