<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
</head>
<body>
    <div class="container" id="content">
        <div class="blank"></div>
        <div class="row">
            <div id="react-app" class="col-sm-4"></div>
            <div id="rss-feeds" class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>Even more news</h3>

          
            <div class="clearfix"></div>
      
        </div>
    </div>
    <!--This tag must be kept at the very bottom of the BODY-->
    @Scripts.Render("~/bundles/react")
   </body>
</html>
